body{
    margin: 0;
    color: hsl(228, 44%, 32%);
    background-color: rgb(219, 237, 252);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400, 700;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

nav a{
    padding-left: 15px;
    text-decoration: none;
    color:hsl(228, 44%, 32%);
}

.newcontainer{
    background-color: #f8f8f8;
    max-width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 4px 15px rgba(95, 95, 95, 0.349);
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#but{
    background-color: #00c3ff;

}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button a{
    text-decoration: none;
    color: black;
    font-weight: 20px;
}

img{
    height: 200px;
    border-radius: 5px;
}

@media (min-width: 376px) {
    header {
        header{
            margin: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
}